
.search-nav {
  width: 100%;
  height: 64px;
  border-bottom: 2px solid #b1191a;
}
.search-nav-container {
  width: 80%;
  min-width: 1000px;
  height: 64px;
  margin: 0px auto;
}
.search-nav-container ul {
  margin: 0px;
  padding-left: 0px;
  list-style: none;
}
.search-nav-container li:first-child {
  padding: 0px 38px;
  background: #b1191a;
  margin: 0px;
  color: #fff;
}
.search-nav-container li {
  cursor: pointer;
  margin-left: 30px;
  line-height: 64px;
  color: #c81623;
  font-size: 18px;
  /* font-weight: bold; */
  float: left;
}
.search-nav-container a {
  color: #c81623;
  text-decoration: none;
}
.goodcont {
  margin: 15px auto;
  width: 80%;
}
.d1 {
  margin-bottom: 15px;
  padding: 16px 16px 16px 69px;
  position: relative;
  border-radius: 6px;
  color: #495060;
  line-height: 1.5;
  border: 1px solid #d5e8fc;
  background-color: #eaf4fe;
  font-size: 12px;
}

.ivu-table-wrapper {
  position: relative;
  border: 1px solid #dddee1;
  border-bottom: 0;
  border-right: 0;
}
.address-container {
  margin-top: 15px;
}
.remarks-container {
  margin: 15px 0px;
}
.pay-container {
  margin: 15px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  margin-top: 30px;
}
h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.address-box {
  margin-top: 15px;
  padding: 15px;
  border: 1px #ccc dotted;
}
.address-check {
  margin: 15px 0px;
  height: 36px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.address-check-name {
  width: 120px;
  height: 36px;
  font-size: 14px;
  line-height: 36px;
  text-align: center;
  color: #fff;
  background-color: #f90013;
}
.aaa {
  padding-left: 15px;
  font-size: 14px;
  color: #999999;
}
.ivu-collapse {
  background-color: #f7f7f7;
  border-radius: 3px;
  border: 1px solid #dddee1;
}
.r1 {
  margin-top: 15px;
  display: inline-block;
  width: 100%;
  position: relative;
  vertical-align: middle;
  line-height: normal;
}
.ri1 {
  font-size: 14px;
  padding: 6px 7px;
  height: 36px;
  display: inline-block;
  width: 100%;
  line-height: 1.5;
  border: 1px solid #dddee1;
  border-radius: 4px;
  color: #495060;
  background-color: #fff;
  background-image: none;
  position: relative;
  cursor: text;
  transition: border 0.2s ease-in-out, background 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
}
.paybox {
  font-size: 18px;
  font-weight: bolder;
  color: #495060;
}
.money {
  font-size: 26px;
  color: #f90013;
}
.paybtn {
  margin: 15px 0px;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
}
.paybtn a {
  color: #2d8cf0;
  background: 0 0;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  transition: color 0.2s ease;
}
.btn1 {
  color: #fff;
  background-color: #ed3f14;
  border-color: #ed3f14;
  padding: 6px 15px 7px 15px;
  font-size: 14px;
  border-radius: 4px;
  outline: 0;
  font-family: inherit;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  line-height: 1.5;
  user-select: none;
}
