.side-bar a {
    color: #232323;
  }
  .user-icon {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .user-icon span {
    font-size: 96px;
  }
  .user-img {
    margin-bottom: 15px;
    width: 96px;
    height: 96px;
    border-radius: 48px;
    overflow: hidden;
  }
  .user-img img {
    width: 100%;
  }
  .content {
    margin: 15px;
    background-color: #fff;
    padding: 15px;
  }
  .layout-footer-center {
    padding: 0px 15px;
    padding-bottom: 15px;
    text-align: center;
  }
 .dis{
   border: none;
   outline: none;
 }  